<%= render "shared/header" %>
<div class="profile-details-main">
  <div class="profile-images">
    <div class="profile-img">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "item-img" %>
      <% else %>
        <%= image_tag "default-image.png", class: "item-img" %>
      <% end %>
    </div>
    <div class="profile-img">
    </div>
    <div class="profile-img">
    </div>
    <div class="profile-img">
    </div>
    <div class="profile-img">
    </div>
  </div>
  <div class="profile-items">
    <div class="profile-item">
      <p>自己紹介</p>
      <p><%= @user.self_pr %></P>
    </div>
    <div class="profile-item">
      名前：<%= @user.name %>
    </div>
    <div class="profile-item">
      性別：<%= @user.sex.name %>
    </div>
    <div class="profile-item">
      年齢：<%= @user.age %>歳
    </div>
    <div class="profile-item">
      都道府県：<%= @user.residence.name %>
    </div>
    <div class="profile-item">
      属性：<%= @user.rope_patron.name %>
    </div>
 
  </div>
  <% if current_user.id == @user.id %>
    <div class="profile-edit-destroy">
      <%= link_to "プロフィール編集", edit_user_path %>
      <%= link_to "アカウント削除", user_path(@user.id), method: :delete, data: { confirm: '本当にアカウントを削除しますか？' } %>
    </div>
  <% end %>
  
</div>
<%= render "shared/footer" %>